<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">AppMovies</h1>
    <p class="lead">Esta es una aplicación de peliculas.</p>
  </div>
</div>

<div class="container">
  <br>
  <div class="row">
    <h1>Cartelera</h1>
    <hr>

    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-md-12 div-pic-1"
                [ngStyle]="'background-image': 'url(_ps.getImageUrl(peliculas.poster_path))'">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 div-pic-2"
            [ngStyle]="'background-image': 'url(_ps.getImageUrl(peliculas.poster_path))'">
          </div>
          <div class="col-sm-6 div-pic-2"
            [ngStyle]="'background-image': 'url(_ps.getImageUrl(peliculas.poster_path))'">
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6 div-pic-2"
            [ngStyle]="'background-image': 'url(_ps.getImageUrl(peliculas.poster_path))'">
          </div>
          <div class="col-sm-6 div-pic-2"
            [ngStyle]="'background-image': 'url(_ps.getImageUrl(peliculas.poster_path))'">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 div-pic-1"
                [ngStyle]="'background-image': 'url(_ps.getImageUrl(peliculas.poster_path))'">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
