<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">AppMovies</h1>
    <p class="lead">Esta es una aplicación de peliculas.</p>
  </div>
</div>

<div class="container">
  <br>

  <app-galeria [peliculas]="cartelera| slice:0:6"
                titulo="Peliculas en cartelera"></app-galeria>
  <app-galeria [peliculas]="populares| slice:0:6"
                titulo="Peliculas populares"></app-galeria>
  <app-galeria [peliculas]="popularesKids| slice:0:6"
                titulo="Peliculas populares de niños"></app-galeria>
  <!-- <app-galeria [peliculas]="valoradas| slice:0:6"
                titulo="Peliculas mas valoradas"></app-galeria> -->


</div>
