<div class="container">
  <div class="row" style="margin-top:30px">
    <div class="col-md-12">
      <p>Buscador de peliculas</p>
      <!-- <form class="form-inline my-2 my-lg-0" > -->
        <input (keyup.enter)="buscar()"
               [(ngModel)]="termino"
               name="termino"
               class="form-control col-md-12" type="text" placeholder="Buscar pelicula..." aria-label="Search">
      <!-- </form> -->
    </div>
  </div>

  <div class="card-columns" style="margin-top:20px;">
        <div class="card" *ngFor="let peli of peliculas; let i = index">
          <img class="card-img-top" [src]="peli | peliculaImagen" [alt]="peli.original_title">
          <div class="card-body">
            <h4 class="card-title">{{peli.title}}</h4>
            <p class="card-text text-justify">{{peli.overview  | slice:0:250}}...</p>
            <button type="button"
                    [routerLink]="['/pelicula', peli.id, 'search', termino]"
                    class="btn btn-outline-primary btn-block">
                Ver mas...
            </button>
          </div>
        </div>

  </div>


</div>
